.body {
    position: relative;
    overflow: hidden;
    margin: 0;
}
.container {
    background: greenyellow;
    background-size: cover;
    height: 550px;
    width: 600px;
    position: relative;
    left: 350px;
    
}
.kk {
    text-align: center;
}
.search-box {
    position:relative;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 100px;
    bottom: 20px;
    
}
.box1 {
    background:whitesmoke;
    position: relative;
    left: 163px;
    bottom: 350px;
    height: 400px;
    width:400px ;

}
.img1 {
    position: relative;
    height: 150px;
    width: 150px;
    bottom:670px;
    border-radius: 100px;
    left: 210px;
}
.img2 {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    left: 750px;
    bottom: 320px;
    
    
}
.mm {
    position: relative;
    text-align: center;
    font-size: larger;
}
.nn{
    position: relative;
    bottom: 650px;
    left: 200px;
}
.mk {
   position: relative;
   left: 720px;
   bottom: 310px;
   font-size: larger;

}
